%% advanced.config
%% The consumer timeout is disabled due to some agents like nmap who takes too much time to finish their task and acknowledge the message.
%% The max_message_size is increased to support large APK files (up to 512 MB).
[
    {rabbit, [
        {consumer_timeout, undefined},
        {max_message_size, 536870912}
    ]}
].