[submodule "KB"]
	path = src/ostorlab/agent/kb/KB
	url = https://github.com/Ostorlab/KB.git
    branch = master

[submodule "OXO_TITAN"]
	path = src/oxotitan
	url = https://github.com/ostorlab/oxotitan.git
    branch = master
