name: Lint And Format Checker.

on:
  pull_request:
    branches: [ "*" ]
  push:
    branches: [ "main" ]
jobs:
  ruff:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.9", "3.10" ]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Checking code formatting.
        uses: chartboost/ruff-action@v1
        with:
          args: format --check
      - name: Running linter.
        uses: chartboost/ruff-action@v1