# This workflow use pytest:
#  - Install Python dependencies.
#  - Run pytest for each of the supported Python versions ["3.8", "3.9", "3.10"]. 
# Running pytest with -m "no docker" to disable test that require a docker installation.

name: Pytest.

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ "*" ]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:

    runs-on:  ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11"]
        os: ["ubuntu-latest", "windows-latest"]

    steps:
    - uses: actions/checkout@v4.1.1
      with:
        submodules: true
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5.0.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies.
      run: |
        python -m pip install --upgrade pip
        pip install .[testing]
        pip install .[scanner]
        pip install .[agent]
        python -m pip install -e .
    - name: Running tests with pytest for linux.
      run: |
        set -o pipefail
        pytest -m "not docker and not nats"
      if: matrix.os == "ubuntu-latest"
    - name: Running tests with pytest for ubuntu.
      run: |
        pytest -m "not docker and not nats"
      if: matrix.os == "windows-latest"
