# This workflow use pylint:
#  - Install Python dependencies.
#  - Run pylint for each of the supported Python versions. 
# Pylint will only fail without fixing any of the errors or warnings.

name: Pylint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies.
      run: |
        python -m pip install --upgrade pip
        python -m pip install pylint pylint-quotes
        python -m pip install -e .
    - name: Runnning linter.
      run: |
        pylint --load-plugins pylint_quotes --rcfile=.pylintrc src/
        pylint --load-plugins pylint_quotes --rcfile=.pylintrc -d C0103,W0613 tests/

